<h1> Type Borne id: {{ unTypeBorne.getId() }} {{ unTypeBorne.getDureeRevision() }} {{ unTypeBorne.getNbJoursEntreRevisions() }}</h1>


{% for borne in unTypeBorne.getLesBornes() %}




Borne id: {{ borne.getId() }}


<br>
{% endfor %}


<h1> Type Borne id: {{ unTypeBorne.getId() }} {{ unTypeBorne.getDureeRevision() }} {{ unTypeBorne.getNbJoursEntreRevisions() }}</h1>


{% set bornes = unTypeBorne.getLesBornes() %}


{% if bornes|length > 0 %}


    {% for borne in bornes %}


    Borne id: {{ borne.getId() }}


    <br>
    {% endfor %}


{% else %}


Pas de bornes!


{% endif %}